NEXT_PUBLIC_SUPABASE_URL=https://tluwfufkffezfwzupopb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsdXdmdWZrZmZlemZ3enVwb3BiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4ODAyMjUsImV4cCI6MjA4NzQ1NjIyNX0.HpyTTH9qsrkKd487qBhk_8tYfk3JFzbv8eJlNsp_kw0